body{
    margin: 0px;
    padding: 0px;
}

.main{
    background-color: rgba(255, 255, 255, 0.88);
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro{
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    width: 800px;
    height: 500px;
}
#nav_bar{
    margin: 30px 50px;
}

.left{
    display: flex;
    align-items: center;
}

.left span{
    font-size: 32px;
    font-weight: bold;
}

.circle{
    width: 26px;
    height: 26px;
    display: inline-block;
    background-color: rgb(47, 255, 71);
    border-radius: 50%;
    margin: 0 10px;
}

.left .occupation{
    font-size: 20px;
    color: gray;
    position: relative;
    top: 6px;
    margin-left: 10px;
}
#intro img{
    width: 300px;
    height: 280px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 40px;
}

.greeting-msg{
    width: 400px;
    height: 250px;
    font-size: 20px;
    display: inline-block;
}

footer{
    display: flex;
    justify-content: space-between;
}
footer div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 60px;
}
