.background{
    position: relative;
}

.background_text{
    color: white;
    position: absolute;
    top: 320px;
    text-align: center !important;
    width: 100%;
}

.scroll_text{
    position: absolute;
    bottom: 50px;
    text-align: center !important;
    font-size: 20px;
    width: 100%;
}

hr{
    margin-top: 0px !important;
    border: 10px solid rgba(180, 18, 18, 0.589) !important;
    margin-bottom: 0px !important;
}

p{
    margin-top: 10px !important;
}

.description_band{
    margin-top: 10px;
    height: 40px;
    background-color: rgba(180, 18, 18, 0.589);
}

.panel-footer{
    margin-top: 0px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color:rgba(82, 1, 1, 0.89);
    border-top: 0px;
}
.panel-footer section, .text-center{
    color: rgba(255, 255, 255, 0.879);
    text-align: center;
}

.panel-footer span{
    font-size: 1.25em;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 400px;
}

.button_group{
    margin-top: 200px;
}